ion-toolbar{
    --ion-background-color: #e2f0f9 !important;
    padding: 17px 0 !important;
    &.ios {
      --background: #e2f0f9;
    }
}
.divprofil{
  margin: 5% 5% 10%;
  line-height: 1.5;
}
.divavatar{
  font-size: 14px;
  color: #c7c7c5;
  text-align: center;
  line-height: 1.5;
  font-weight: 700;
  ion-avatar{
    margin: auto;
    margin-top: 20px;
  }
}
ion-input{
    border: 2px solid #2f80ed;
    font-size: 21px;
    font-weight: bold;
    padding-left: 5% !important;
    --color: #000;
    border-radius: 4px;
    height: 48px;
    margin: 0 2%;

}

.labeledit{
    margin: 5% 0 4% 7%;
    font-size: 16px;
    font-weight: 700;
    color: #444d52;
    display: inline-block;

    &:first-child {margin-top: 0;}

}
.itemeedit{
  --border-style: 0 !important;
  --highlight-background: none;
}
.btns {
    border-radius: 12px;
    height: 50px;
    text-transform: none;
    font-size: 18px;
    font-weight: 700;

    &.btnannuler {
        --background: none;
        --color: #1c0e01;
        border: 2px solid #002a63;
        margin: 6% 0%;
    }
    &.btnconfirm{
      --background: #0f87d4;
      --color: #ffffff;
      margin: 6% 0%;
      margin-top: 12%;
    }
}

