
<ion-content>
  <div class="zoneInfosPage">

    <ion-text class="entete">
        <p>Merci  de contribuer à lutte <br>contre le coronavirus</p>
    </ion-text>


    <ion-text class="content">
      <ion-icon name="checkmark-circle"></ion-icon>
        <p>
          Vos informations seront transmises aux autorités sanitaires compétentes <br/>
          qui pourront entrer en contact avec  vous pour une télé-consultation
          et si nécessaire dépêcher une équipe médicale chez vous pour une prise en charge rapide et sécurisée.

      </p>
    </ion-text>

    <section>
      <ion-button expand="block"  [routerLink]="'/welcome'" >Ok</ion-button>
    </section>

  </div>
</ion-content>
